.header-cc {
    --background: #075E54; 
    color:white
}

.seg-btn {
    --indicator-color-checked:white !important;
}

ion-grid {
    --ion-grid-column-padding:0;
    --ion-grid-padding:0
}

.media-selector {
    --size:30px;
}
